<!-- Render an svg icon located at icons/caret-circle-down-thin.svg -->
<script>

  // Function to detect if the user is using a mobile browser
  function isMobileBrowser() {
    return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
  }
  
  // Use jquery to listen to clicks to caret-wrap class
  // When clicked, switch child img src from  "/assets/icons/caret-down.svg" to "/assets/icons/caret-up.svg"

  $(document).ready(function() {
    // We run this script to prevent video for playing in a mobile browser
    // This is necessary as most mobile browsers show a nasty "play" button in the background
    if (isMobileBrowser()) {
      var videoElement = document.getElementById('bg_video');
      videoElement.style.display = 'none'; // Hide the video element
    }

    // Collapse / Uncollapse caret image change
    $(".caret-wrap").click(function() {
      var img = $(this).children("img");

      var src = img.attr("src");
      if (src == "/assets/icons/caret-down.svg") {
        img.attr("src", "/assets/icons/caret-up.svg");
        img.attr("caret_setting", "up");

        // Remove all .index-trifold-hoverable classes from .index-trifold-section
        $(".index-trifold-section").removeClass("index-trifold-hoverable");
      } else {
        img.attr("src", "/assets/icons/caret-down.svg");
        img.attr("caret_setting", "down");

        // Add back all .index-trifold-hoverable classes from .index-trifold-section
        $(".index-trifold-section").addClass("index-trifold-hoverable");
      }
    });

    function caretIsUp() {
      return $(".caret-wrap").children("img").attr("caret_setting") == "up";
    };

    function collapseTrifoldSection(e) {
      $(".index-trifold-section").each(function() {
        if (caretIsUp()) { return; }
        ($(this) || e).children(".collapse-trifold").collapse('show');
        $(".caret-wrap").hide();
      });
    };

    function uncollapseTrifoldSection(e) {
      $(".index-trifold-section").each(function() {
        if (caretIsUp()) { return; }
        ($(this) || e).children(".collapse-trifold").collapse('hide');
        $(".caret-wrap").show();
      });
    };

    // Collapse / Uncollapse trifold content on hover
    $(".index-trifold-sections").mouseenter(collapseTrifoldSection);
    $(".index-trifold-sections").mouseleave(uncollapseTrifoldSection);

    // Add this new code for Intersection Observer
    const observerOptions = {
      root: null, // use viewport
      threshold: 0.1, // trigger when at least 10% of target is visible
      rootMargin: '0px'
    };

    const observer = new IntersectionObserver((entries, observer) => {
      entries.forEach(entry => {
        if (entry.isIntersecting) {
          entry.target.classList.add('show');
          observer.unobserve(entry.target); // Stop observing once shown
        }
      });
    }, observerOptions);

    // Observe all slide-in elements
    document.querySelectorAll('.slide-in, .slide-in-slower, .slide-in-fast, .slide-in-reverse').forEach((elem) => {
      observer.observe(elem);
    });
  })

</script>