@charset "utf-8";

// Animations
@-webkit-keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 16px; opacity: 1; }  
}

@keyframes appear {
  0% { left: 500px; opacity: 0; }
  100% { left: 16px; opacity: 1; }  
}

// Header / Footer stuff
.footer-logo:hover {
  opacity: 0.5;
}

// Ignore the box-sizing property set by bootstrap as it fucks up some of the spacings
.site-footer *, .site-footer *::before, .site-footer *::after,
.site-header *, .site-header *::before, .site-header *::after {
    box-sizing: content-box !important;
}

// Override bootstrap's defualt primary color so its a darker blue
.btn-primary {
  background-color: rgb(0 161 255);
  border-color: rgb(2, 125, 196);
  transition: all ease 1s;
}

.btn-primary:hover {
  // Make the hover background psychedelic gradient of pink through green
  background-color: #182cde;
  border-color: black;
}


// Useful stylings
.center-text {
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  display: block;
}

.shadow-image {
  -webkit-box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 10px 20px 30px 0px rgba(0, 0, 0, 0.5);
}

.center-image {
  display: flex;
  justify-content: center;  
}
