.index-container {
  @media (max-width: 768px) {
    overflow-x: hidden;
  }
}

.index-body {
  padding: 20px;
  border-radius: 10px;
  // add some background blur
  backdrop-filter: blur(2px);
  // background-color: white;
}

@supports not (backdrop-filter: blur(2px)) {
  .index-body {
    background-color: rgba(255, 255, 255, 0);
  }
}

.custom-substack-widget {
  border-radius: 14px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

// Select children input and button of .custom-substack-widget
.custom-substack-widget > input,
.custom-substack-widget > button {
  font-family: $base-font-family !important;
}

.what-we-do-container {
  // width: calc(100% + 1000px);
  // margin-left: -500px;
  // background: linear-gradient(to right, #fbfbfb, #9f9f9f);
  // background-size: 200% 100%;
  // animation: gradient-sway 5s ease-in-out infinite;
}

@keyframes gradient-sway {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.what-we-do-card {
  height: 100%;
  padding: 50px;
  // border-radius: 10px;
  // border: 1px solid #e0e0e0;

  p {
    margin-top: 50px;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5;
  }

  @media (max-width: 768px) {
    padding: 25px;
    p {
      font-size: 0.9rem;
    }
  }

  h3 {
    margin-top: 15px;
    text-align: center;
  }
}

.what-we-do-image-container {
  height: 100%;
  min-height: 300px; // Adjust this value to match your text containers
  width: 100%;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.madness-hero {
  font-size: 40px;
}

.madness-grid {
  color: #d70f0f;
  max-width: 700px;

}

.video-container {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  overflow: hidden; 
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
             linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%),
                    linear-gradient(to bottom, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-composite: source-in;
  z-index: -1;
}

.bg-video {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  filter: blur(2px);
  transform: scale(1);
}